<launch>
<node pkg="rosbag" type="record" 
        name="bag_record" 
        args="imu_thigh_pub imu_knee_pub imu_ankle_pub pcd_pub 
        /stereo_inertial_publisher/right/camera_info 
        /stereo_inertial_publisher/right/image_rect
        /tf
        /tf_static
                         -b  4096
                         -O /media/yuxuan/SSD/PROS_ROS_BAG/final_dataset/obs_up2.bag"/>
</launch>