<launch>
<!-- <node pkg="pros_multisensor" type="mpv_ros_bridge.py" name="mpv_ros_bridge"/> -->
<node pkg="rosbag" type="play" 
        name="bag_replay" 
        args="/media/yuxuan/SSD/PROS_ROS_BAG/final_dataset/level_1.bag -r 1
                --topic imu_knee_pub pcd_pub imu_ankle_pub"
         output="screen"/>
</launch>